@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bold';
  src:
    local('Anuphan-Bold'),
    url('./assets/fonts/Anuphan-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ExtraLight';
  src:
    local('Anuphan-ExtraLight'),
    url('./assets/fonts/Anuphan-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Light';
  src:
    local('Anuphan-Light'),
    url('./assets/fonts/Anuphan-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Medium';
  src:
    local('Anuphan-Medium'),
    url('./assets/fonts/Anuphan-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Regular';
  src:
    local('Anuphan-Regular'),
    url('./assets/fonts/Anuphan-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SemiBold';
  src:
    local('Anuphan-SemiBold'),
    url('./assets/fonts/Anuphan-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Thin';
  src:
    local('Anuphan-Thin'),
    url('./assets/fonts/Anuphan-Thin.ttf') format('truetype');
}

html {
  height: 100%;
  font-size: 16px;
}

@layer utilities {
  .border-gradient-tier-info {
    border: 0.69px solid;
    border-image-source: linear-gradient(
      179.03deg,
      rgba(255, 255, 255, 0.8) 0.83%,
      rgba(207, 207, 207, 0) 47.54%,
      rgba(255, 255, 255, 0.8) 99.17%
    );
    border-image-slice: 1;
  }

  .backdrop-blur-tier-info {
    backdrop-filter: blur(28.32874870300293px);
  }

  .center-tier-info {
    transform: translateX(-60px);
  }

  .align-last-tier-info {
    transform: translateX(-120px);
  }
}
